@font-face {
  font-family: 'ITC Motter';
  src: url('./assets/fonts/Motter Corpus Std Regular.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'ITC Motter', sans-serif;
  background-color: #f9ece5;
}
